@font-face {
  font-family: 'zhlf';
  src:  url('fonts/zhlf.eot?3pu7nk');
  src:  url('fonts/zhlf.eot?3pu7nk#iefix') format('embedded-opentype'),
    url('fonts/zhlf.ttf?3pu7nk') format('truetype'),
    url('fonts/zhlf.woff?3pu7nk') format('woff'),
    url('fonts/zhlf.svg?3pu7nk#zhlf') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zhlf-"], [class*=" zhlf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zhlf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zhlf-21:before {
  content: "\e900";
}
.zhlf-22:before {
  content: "\e901";
}
.zhlf-uniE902:before {
  content: "\e902";
}
.zhlf-2:before {
  content: "\e903";
}
.zhlf-1:before {
  content: "\e904";
}
.zhlf-3:before {
  content: "\e905";
}
.zhlf-4:before {
  content: "\e906";
}
.zhlf-5:before {
  content: "\e907";
}
.zhlf-6:before {
  content: "\e908";
}
.zhlf-7:before {
  content: "\e909";
}
.zhlf-8:before {
  content: "\e90a";
}
.zhlf-9:before {
  content: "\e90b";
  color: #666;
}
.zhlf-10:before {
  content: "\e90c";
}
.zhlf-11 .path1:before {
  content: "\e90d";
  color: rgb(255, 129, 28);
}
.zhlf-11 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 179, 119);
}
.zhlf-12:before {
  content: "\e90f";
}
.zhlf-13:before {
  content: "\e910";
}
.zhlf-14:before {
  content: "\e911";
}
.zhlf-15:before {
  content: "\e912";
}
.zhlf-16:before {
  content: "\e913";
  color: #ff3b59;
}
.zhlf-17:before {
  content: "\e914";
}
.zhlf-18:before {
  content: "\e915";
}
.zhlf-19:before {
  content: "\e916";
}
.zhlf-20:before {
  content: "\e917";
}
